<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mas informacion de sus anteriores experiencias laborales</title>
</head>
<body>
<h1>Estimado/a <span th:text="${firstName}"></span></h1>
<p>Te agradecemos tu interés en la posicion anfitrión de hostal. Para poder evaluar tu perfil de manera más completa, te solicitamos que nos proporciones información adicional, sobre tu experiencia en el area del turismo y la hospitalidad</p>

<p>Por favor, incluye detalles sobre tus responsabilidades, logros y aprendizajes en cada uno de los puestos que has ocupado.</p>
<p>Te agradeceremos que nos envíes esta información a la brevedad posible, ya sea adjuntando tu currículum actualizado o respondiendo a este correo.</p>
<p>Agradecemos tu colaboración..</p>
<p>Atentamente</p>
<p>Junior</p>
</body>
</html>
