<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hostal - Candidatura recibida</title>
</head>
<body>
<h1>Estimado/a <span th:text="${firstName}"></span></h1>
<p>Agradecemos tu interés en la posicion anfitrión de hostal. Actualmente estamos revisando todas las candidaturas y te informaremos sobre los próximos pasos en el proceso de selección a la brevedad posible.</p>

<p>Gracias nuevamente por tu interés.</p>
<p>Atentamente</p>
<p>Junior</p>
</body>
</html>