<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title><span th:text="${positionTitle}"></span> Entrevista</title>
</head>
<body>
<h1>Estimado/a <span th:text="${firstName}"></span></h1>
<p>Nos complace invitarte a una primera entrevista para el puesto de <b><span th:text="${positionTitle}"></span></b> </p>
<p>Te proponemos realizar esta entrevista a través de WhatsApp</p>
<p>Hora de Inicio: <span th:text="${startDate}"></span></p>
<p>Hora de Fin: <span th:text="${endDate}"></span></p>
<p>Si este horario se ajusta a tu disponibilidad, nos vemos a esa hora. En caso contrario, por favor indícanos los horarios alternativos que te serían más convenientes.</p>
<p>Agradecemos tu interés y esperamos conocerte pronto.</p>
<p>Atentamente</p>
<p>Junior</p>
</body>
</html>
