name: Publish Documentation with GitHub Pages
on:
  workflow_run:
    workflows: [ Creating Release and Deploying to Maven Central ]
    branches: [main]
    types:
      - completed
#  workflow_dispatch:
concurrency:
  group: github-pages
  cancel-in-progress: false
# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  doc-build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Configure Pages
        uses: actions/configure-pages@v5
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Install Antora with the Antora Lunr Extension
        run: npm i antora @antora/lunr-extension
      - name: Generate Site
        run: |
          cd task-processor-docs/src/docs
          npx antora antora-playbook.yml

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: task-processor-docs/src/docs/build/site
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4